:host {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.helper {
  margin: 1rem;
}

p {
  margin: 0.5rem 0;
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 1rem;
}
